<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
	
	
    <h1>All events</h1>
	<form th:action="@{/events}" method="get" class="mb-3">
	      <input type="text" name="search" th:value="${search}" placeholder="Enter event name to search" class="form-control"/>
	      <button type="submit" class="btn btn-primary mt-2">Search</button>
	    </form>
	
	<div sec:authorize="hasRole('ORGANIZER')">
		<a href="/events/new" class="btn btn-secondary">
		  <i class="fa-solid fa-arrow-right"></i> Create New Event
		</a>
	</div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fa-solid fa-bolt"></i> Event</th>
          <th><i class="fa-solid fa-map-marker-alt"></i> Venue</th>
          <th><i class="fa-solid fa-calendar"></i> Date</th>
          <th><i class="fa-solid fa-clock"></i> Time</th>
		  <th><th>
        </tr>
      </thead>
      <tbody>
		<div>
			<h2>Upcoming events</h2>
        <tr th:each="e : ${events}" th:if="${(search == null || e.name.toLowerCase().contains(search.toLowerCase())) and e.date.isAfter(#temporals.createNow().toLocalDate())}">
          <td th:text="${e.name}">My Event</td>
          <td th:text="${e.venue.name}">Event venue</td>
          
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
		  <td><a class="btn btn-primary" role="button" th:href="@{/events/{id}(id=${e.id})}"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> Details</a></td>
		  <td><a class="btn btn-primary" sec:authorize="hasRole('ATTENDEE')" role="button"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> Register</a></td>
		  <td><a class="btn btn-primary" sec:authorize="hasAnyRole('ORGANIZER', 'ADMINISTRATOR')" role="button" th:href="@{/events/update/{id}(id=${e.id})}"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> Update</a></td>  
		  <td><form th:action="@{/events/{id}(id=${e.id})}" th:method="delete" sec:authorize="hasRole('ORGANIZER')">
		        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash" aria-hidden="true"></i> Delete</button>
		      </form></td>
	  </tr>
	  </div>
	  
	  <table class="table table-striped table-hover">
	        <thead>
	          <tr>
	            <th><i class="fa-solid fa-bolt"></i> Event</th>
	            <th><i class="fa-solid fa-map-marker-alt"></i> Venue</th>
	            <th><i class="fa-solid fa-calendar"></i> Date</th>
	            <th><i class="fa-solid fa-clock"></i> Time</th>
	  		  <th><th>
	          </tr>
	        </thead>
	        <tbody>
	  		<div>
	  			<h2>Previous events</h2>
	          <tr th:each="e : ${events}" th:if="${(search == null || e.name.toLowerCase().contains(search.toLowerCase())) and e.date.isBefore(#temporals.createNow().toLocalDate())}">
	            <td th:text="${e.name}">My Event</td>
	            <td th:text="${e.venue.name}">Event venue</td>
	            
	            <td th:text="${{e.date}}">Event date</td>
	            <td th:text="${{e.time}}">Event time</td>
	  		  <td><a class="btn btn-primary" role="button" th:href="@{/events/{id}(id=${e.id})}"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> Details</a></td>
	  		  <td><a class="btn btn-primary" sec:authorize="hasRole('ATTENDEE')" role="button" th:href="@{/events/{id}(id=${e.id})}"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> Register</a></td>
	  		  <td><a class="btn btn-primary" sec:authorize="hasAnyRole('ORGANIZER', 'ADMINISTRATOR')" role="button" th:href="@{/events/{id}(id=${e.id})}"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> Update</a></td>  
	  		  <td><form th:action="@{/events/{id}(id=${e.id})}" th:method="delete" sec:authorize="hasRole('ORGANIZER')">
	  		        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash" aria-hidden="true"></i> Delete</button>
	  		      </form></td>
	  	  </tr>
	  	  </div>
	  
	  
	 
  </tbody>
    </table>

  </div>

</body>
</html>


