<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Update Event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Update Event</h1>		
	
	<form action="#" th:action="@{/events}" th:object="${e}" method="post">
	  <div class="mb-3">
	    <label for="name" class="form-label">Name</label>
	    <input type="text" class="form-control" id="name" th:value="*{name}">
	  </div>
	  <div class="mb-3">
	    <label for="date" class="form-label">Date</label>
	    <input type="date" class="form-control" th:value="*{date}">
	  </div>
	  <div class="mb-3">
	  	    <label for="time" class="form-label">Time</label>
            <input type="time" class="form-control" id="time" th:field="*{time}">
	  </div>
	  <div class="mb-3">
	    <label class="form-label">Venue</label>
	  	<select name="venue" id="venue" class="form-control">
	      	<option th:each="v : ${v}" th:value="${v.id}" th:text="${v.name}"></option>
	  	</select>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
  </div>
</body>
</html>