<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <title>Update Event</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Update Event</h1>

      <form
        action="#"
        th:action="@{/events/update/{id}(id=${e.id})}"
        th:object="${e}"
        method="post"
      >
        <input type="hidden" name="_method" value="put" />
		
        <div class="mb-3"><!-- Name div -->
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            th:field="*{name}"
          />
		  <p
		    th:if="${#fields.hasErrors('name')}"
		    th:errors="*{name}"
		    class="error text-danger"
		  ></p>
        </div>
		
        <div class="mb-3"><!-- Date div -->
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" th:field="*{date}" th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"/>
		  <p
		    th:if="${#fields.hasErrors('date')}"
		    th:errors="*{date}"
		    class="error text-danger"
		  ></p>
        </div>
		
        <div class="mb-3"><!-- Time div -->
          <label for="time" class="form-label">Time</label>
          <div class="d-flex">
            <input
              type="time"
              class="form-control me-2"
              id="time"
              th:field="*{time}"
            />
            <button
              class="btn btn-secondary"
              type="button"
              onclick="document.getElementById('time').value = 'null'"
            >
              Reset
            </button>
          </div>
        </div>
		
        <div class="mb-3"> <!-- Venue div -->
          <label class="form-label">Venue</label>
          <select name="venue" id="venue" class="form-control">
            <option
              th:each="v : ${v}"
              th:value="${v.id}"
              th:text="${v.name}"
			  th:selected="${v.id==e.venue.id}"
            ></option>
          </select>
		  <p
		    th:if="${#fields.hasErrors('venue')}"
		    th:errors="*{venue}"
		    class="error text-danger"
		  ></p>
        </div>
		
        <div class="mb-3"> <!-- Description div -->
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            th:field="*{description}"
            rows="3"
            maxlength="500"
          ></textarea>
          <small class="form-text text-muted">
            Optional. Maximum 500 characters
          </small>
          <div class="d-flex justify-content-between mb-3">
            <button
              class="btn btn-secondary btn-sm"
              type="button"
              onclick="document.getElementById('description').value = ''">
              Clear Description
            </button>
          </div>
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"
          ></div>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <a href="/events" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Back to Events
          </a>
          <button type="reset" class="btn btn-danger">Undo changes</button>
          <div>
            <button class="btn btn-primary" type="submit">
              <i class="fa-solid fa-bookmark" aria-hidden="true"></i> Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
