<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <title>New Venue</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Add a new venue</h1>

      <form
        action="#"
        th:action="@{/venues/save}"
        th:object="${venue}"
        method="post"
      >
        <div class="form-group mb-3"> <!-- Name div -->
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
			th:field="*{name}"
            autofocus="autofocus"
			maxlength="255"
			required
          />
		  <p
		    th:if="${#fields.hasErrors('name')}"
		    th:errors="*{name}"
		    class="error text-danger"
		  ></p>
        </div>

        <div class="form-group mb-3"> <!-- Street div-->
          <label for="street">Street</label>
          <input
            type="text"
            class="form-control"
            name="street"
            id="street"
            th:field="*{street}"
			maxlength="299"
			required
		  />
		  <p
		    th:if="${#fields.hasErrors('street')}"
		    th:errors="*{street}"
		    class="error text-danger"
		  ></p>
        </div>
		
		<div class="form-group mb-3"> <!-- Postcode div -->
		  <label for="postcode">Postcode</label>
		  <input
		    type="text"
		    class="form-control"
		    name="postcode"
		    id="postcode"
		    th:field="*{postcode}"
			maxlength="10"
			required
		  />
		  <p
		    th:if="${#fields.hasErrors('postcode')}"
		    th:errors="*{postcode}"
		    class="error text-danger"
		  ></p>
		</div>

		<div class="form-group mb-3"> <!-- Capacity div -->
		  <label for="capacity">Capacity</label>
		  <input
		    type="number"
		    class="form-control"
		    name="capacity"
		    id="capacity"
		    th:field="*{capacity}"
			min="1"
			step="1"
			required
		  />
		  <p
		    th:if="${#fields.hasErrors('capacity')}"
		    th:errors="*{capacity}"
		    class="error text-danger"
		  ></p>
		</div>

        <div class="d-flex justify-content-between mb-3">
          <a href="/venues" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Back to Venues
          </a>
          <div>
            <button class="btn btn-primary" type="submit">
              <i class="fa-solid fa-bookmark" aria-hidden="true"></i> Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
